<%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <main class="text-center">
        <h1 class="text-6xl font-bold text-red-600 mb-4">My Bookings</h1>
        <p class="text-2xl font-semibold mb-2">Bookings well appear here</p>
        
    </main>
</body>
</html>
