<%- include('../partials/head') %>
</head>
<body class="bg-gray-100 text-gray-800 font-sans">
    <!-- Header -->
    <%- include('../partials/header') %>

    <!-- Main Content -->
    <main class="max-w-7xl mx-auto p-4 mt-6 bg-white rounded-lg shadow-md">
        <h2 class="text-xl font-bold text-red-600 text-center mb-6">You are in home detail page:</h2>

    </main>
</body>
</html>
