<%- include('partials/head') %>
</head>
<body class="bg-gray-100">
    <%- include('partials/header') %>

    <div class="flex justify-center mt-[2px] px-4">
        <div>
            <main class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <form action="/host/add-home" method="POST" class="space-y-[1px]">
        <label for="houseName" class="block text-2xl font-bold text-center text-red-600">Register Your Home</label>
        <input
            type="text"
            id="houseName"
            name="houseName"
            placeholder="Enter the name of your house"
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-red-500"
            required
        />

        <input
            type="text"
            id="price"
            name="price"
            placeholder="Price per night"
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-red-500"
            required
        />

        <input
            type="text"
            id="location"
            name="location"
            placeholder="Enter the location"
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-red-500"
            required
        />

        <input
            type="text"
            id="rating"
            name="rating"
            placeholder="Rating"
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-red-500"
            required
        />

        <input
            type="text"
            id="photoUrl"
            name="photoUrl"
            placeholder="Enter photo URL"
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-red-500"
            required
        />

        <input
            type="submit"
            value="Submit"
            class="w-full bg-red-500 text-white font-semibold py-2 px-4 rounded hover:bg-red-600 transition duration-200 cursor-pointer"
        />
    </form>
</main>
</div>
</div>
</body>